.grid-team .grid-item {
	margin-right: 20px;
	margin-left: 20px;
	width: calc(100%/3 - 40px);
	display: flex;
}

.card-team {
	text-align: left;
	width: 100%;
}

.card-team h6 {
	margin-bottom: 0;
}

.card-team p {
	margin-top: 0;
}


.card-team img {
	min-height: 202px;
	width: 100%;
}
